<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Home Page {% endblock %}
</head>
<body>
    <p> 
    <button> <a id="login" href="/login">Login</a> </button>
    <button> <a id="logout" href="/logout">Logout</a> </button>
    <button> <a id="Signup" href="/signup">sign up</a> </button>
    <button> <a id="Home" href="/">Home</a> </button>
    <button> <a id="Home2" href="/views/home">Home</a> </button>
    </p>

    {% block body %} 
    This is the home page 
    <br>
    {{ text }}
    {% endblock %}

    <script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
    ></script>
</body>
</html>