{% extends "base.html" %} 

{% block title %} 
<title> Sign up Page </title>
{% endblock %}


{% block body %}

<form method="POST">
    <h3 align="center"> Sign Up </h3>
        <div align="center" class="form-group">
            <label for="email"> email address </label>
            <input
                type = "email"
                class = "form-control"
                id = "email"
                name="email"
                placeholder="Enter email"
            />
        </div>

        <div align="center" class="form-group">
            <label for="name"> name </label>
            <input
                type = "text"
                class = "form-control"
                id = "name"
                name="name"
                placeholder="Enter name"
            />
        </div>
        
        <div align="center" class="form-group">
            <label for="password1"> password </label>
            <input
                type = "password"
                class = "form-control"
                id = "password1"
                name="password1"
                placeholder="Enter password"
            />
        </div>
        

        <div align="center" class="form-group">
            <label for="password2"> password confirm </label>
            <input
                type = "password"
                class = "form-control"
                id = "password2"
                name="password2"
                placeholder="confirm password"
            />
        </div>
        <br>
        <button align="center" type="submit" class="btn btn-primary"> submit </button>

</form>

{% endblock %}
